*.py[cod]
.*.swp
*~
# C extensions
*.so
*.pem
*.sqlite
*.sql

.ropeproject
django/ricemiddlelayer/ricemiddlelayer/local_settings.py
django/ricemiddlelayer/ricemiddlelayer/private_settings.py
django/ricemiddlelayer/.ve
django/ricemiddlelayer/celerybeat.pid
django/ricemiddlelayer/distribute-*.tar.gz
django/ricemiddlelayer/search_index
django/ricemiddlelayer/staticserve
django/ricemiddlelayer/uploads
django/ricemiddlelayer/logs
reports/*
.DS_Store
.pydevproject



staticserve
.DS_store
.idea